@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --red: rgba(255, 0, 0, 0.6);
    --green: lightgreen;
}
button {
    font-family: 'Josefin Sans', sans-serif;
}
/* container to hold all of the book cards, using grid template */
#container {
    width: 80vw;
    min-height: 80vh;
    margin: 3vh auto auto auto;
    display: grid;
    grid-template: repeat(3,300px) / repeat(3,1fr);
    grid-auto-rows: 300px;
    gap: 2.5vw;
}
/* the individual cards stand out from the rest of the page and are laid out in rows */
#items {
    background-color: whitesmoke;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* all of the book properties have the same styling */
#items > * {
    font-size: 24px;
    color: black;
    width: 80%;
    margin: 7px;
    text-align: center;
}
/* the two buttons in the book have the same styling besides color */
#items > button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--green);
    cursor: pointer;
}
/* make all buttons darker when hovering */
#items > button:hover, .notread:hover, .formContainer .btn:hover {
    filter: brightness(0.92);
}
/* make the "not read" button red */
#items > .notread {
    background-color: var(--red);
}
/* position the new book button at the top and make it black with white text */
#newBook {
    height: 5vh;
    width: 10vw;
    margin-top: 1rem;
    background-color: black;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    color: white;
}
/* new book button is larger when hovering */
#newBook:hover {
    transform: scale(1.01);
}

/* selecting the whole page to have 
darker background when form is displayed */
.grayout {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
/* gray out the background when the form is clicked */
.grayout.active {
    display: block;
}
/* form that pops up when "new book" is clicked */
.bookForm {
    display: none;
    position: absolute;
    left: 38.5%;
    top: 25%;
    border: none;
}
/* styling the form itself */
.formContainer {
    max-width: 300px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
}
/* center the header for the form and make font larger */
.formContainer h2 {
    text-align: center;
}
/* styling the regular input fields where user types in */
.formContainer input[type=text],
.formContainer input[type=password],
.formContainer input[type=number] {
    font-size: 1rem;
    font-weight: 600;
    width: 80%;
    padding: 15px;
    margin: 5px 0 20px 12px;
    border: none;
    background: #eee;
    border-radius: 10px;
}
/* make background darker when mouse clicks input section */
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus,
.formContainer input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
/* style the checkbox and its label, make a flex container for them */
.readcontainer {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
/* style the submit and close buttons */
.formContainer .btn {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--green);
    color: black;
    cursor: pointer;
    width: 100%;
    margin: 10px 0px 15px 0px;
    font-size: 1.2rem;
}
/* change the color of the close button */
.formContainer .cancel {
    background-color: var(--red);
}